resources/cluster_100_2_100_1_0.xml

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Build directory
build

# CMakeFiles directory
CMakeFiles

# CMake files
CMakeCache.txt
cmake_install.cmake
Makefile

# VS code
.vscode

#yml swap files
*.yml.swp

#platform files
resources/cluster_*

event.log
